<section id="page-box">
	<!-- header -->
	<header>
		<div class="header-content">
			<div class="logo"></div>
			<div class="header-text"></div>
			<div class="header-phone">
				<p>解放碑店：$!{home.phone1}</p>
				<p>沙坪坝店：$!{home.phone2}</p>
			</div>
		</div>
	</header>
	<!-- nav menu -->
	<nav>
		<div class="nav-content">
			<div class="nav-menu">
				<a class="nav-child" href="${request.contextPath}/public">首页</a>
				<a class="nav-child" href="${request.contextPath}/public/advantage">品牌介绍</a>
				<a class="nav-child has-child" href="#">
					门店信息
					<div class="menu-child">
						<span data-uri="store-jfb.html">解放碑店</span>
						<span data-uri="store-spb.html">沙坪坝店</span>
					</div>
				</a>
				<a class="nav-child has-child" href="#">
					母婴照护
					<div class="menu-child">
						<span data-uri="${request.contextPath}/public/myzh/yqkt">孕期课堂</span>
						<span data-uri="myzh-2.html">月子期护理</span>
						<span data-uri="myzh-3.html">产褥期形体指导</span>
						<span data-uri="myzh-4.html">营养膳食</span>
						<span data-uri="myzh-5.html">宝宝护理</span>
					</div>
				</a>
				<a class="nav-child has-child" href="#">
					产后修复
					<div class="menu-child">
						<span data-uri="chxf-1.html">产后体质调理</span>
						<span data-uri="chxf-2.html">产后形体重塑</span>
						<span data-uri="chxf-3.html">女性私密维养</span>
						<span data-uri="chxf-4.html">舒缓调理</span>
					</div>
				</a>
				<a class="nav-child" href="child/active.html">精彩活动</a>
				<a class="nav-child" href="${request.contextPath}/public/about">联系我们</a>
				<a class="nav-child" href="child/recruit.html">人才招聘</a>
			</div>
		</div>
		<div class="nav-secound"></div>
	</nav>
	<!-- 首页大图 -->
	<section class="main-img">
		<div class="main-img-wrapper">
			<img src="${request.contextPath}/public/showPhoto?id=$!{yqktImg.bannerImg}&type=30" width="1920" height="600" />
		</div>
	</section>
	<section class="myzh">
		<div class="myzh-content">
			<div class="myzh-content-title">宝 宝 护 理</div>
			<p>$!{bbhl.mainText}</p>
			<div class="myzh-content-main" style="justify-content: space-around;">
				<a href="javascript:void(0)" class="mcm-list5" style="margin-bottom: 4px;">
					<img src="${request.contextPath}/home/showPhoto?id=$!{bbhl.bbhlImg1}&type=35" width="597" height="304" />
					<div class="mcm-list1-text">
						#if($!bbhl.bbhlImg1Text1 && $!bbhl.bbhlImg1Text1 != '')<p>· $!{bbhl.bbhlImg1Text1}</p>#end
						#if($!bbhl.bbhlImg1Text2 && $!bbhl.bbhlImg1Text2 != '')<p>· $!{bbhl.bbhlImg1Text2}</p>#end
						#if($!bbhl.bbhlImg1Text3 && $!bbhl.bbhlImg1Text3 != '')<p>· $!{bbhl.bbhlImg1Text3}</p>#end
					</div>
				</a>
				<a href="javascript:void(0)" class="mcm-list5">
					<img src="${request.contextPath}/home/showPhoto?id=$!{bbhl.bbhlImg2}&type=35" width="597" height="304" />
					<div class="mcm-list1-text">
						#if($!bbhl.bbhlImg2Text1 && $!bbhl.bbhlImg2Text1 != '')<p>· $!{bbhl.bbhlImg2Text1}</p>#end
						#if($!bbhl.bbhlImg2Text2 && $!bbhl.bbhlImg2Text2 != '')<p>· $!{bbhl.bbhlImg2Text2}</p>#end
						#if($!bbhl.bbhlImg2Text3 && $!bbhl.bbhlImg2Text3 != '')<p>· $!{bbhl.bbhlImg2Text3}</p>#end
					</div>
				</a>
				<a href="javascript:void(0)" class="mcm-list5">
					<img src="${request.contextPath}/home/showPhoto?id=$!{bbhl.bbhlImg3}&type=35" width="396" height="304" />
					<div class="mcm-list1-text">
						#if($!bbhl.bbhlImg3Text1 && $!bbhl.bbhlImg3Text1 != '')<p>· $!{bbhl.bbhlImg3Text1}</p>#end
						#if($!bbhl.bbhlImg3Text2 && $!bbhl.bbhlImg3Text2 != '')<p>· $!{bbhl.bbhlImg3Text2}</p>#end
						#if($!bbhl.bbhlImg3Text3 && $!bbhl.bbhlImg3Text3 != '')<p>· $!{bbhl.bbhlImg3Text3}</p>#end
					</div>
				</a>
				<a href="javascript:void(0)" class="mcm-list5">
					<img src="${request.contextPath}/home/showPhoto?id=$!{bbhl.bbhlImg4}&type=35" width="396" height="304" />
					<div class="mcm-list1-text">
						#if($!bbhl.bbhlImg4Text1 && $!bbhl.bbhlImg4Text1 != '')<p>· $!{bbhl.bbhlImg4Text1}</p>#end
						#if($!bbhl.bbhlImg4Text2 && $!bbhl.bbhlImg4Text2 != '')<p>· $!{bbhl.bbhlImg4Text2}</p>#end
						#if($!bbhl.bbhlImg4Text3 && $!bbhl.bbhlImg4Text3 != '')<p>· $!{bbhl.bbhlImg4Text3}</p>#end
					</div>
				</a>
				<a href="javascript:void(0)" class="mcm-list5">
					<img src="${request.contextPath}/home/showPhoto?id=$!{bbhl.bbhlImg5}&type=35" width="396" height="304" />
					<div class="mcm-list1-text">
						#if($!bbhl.bbhlImg5Text1 && $!bbhl.bbhlImg5Text1 != '')<p>· $!{bbhl.bbhlImg5Text1}</p>#end
						#if($!bbhl.bbhlImg5Text2 && $!bbhl.bbhlImg5Text2 != '')<p>· $!{bbhl.bbhlImg5Text2}</p>#end
						#if($!bbhl.bbhlImg5Text3 && $!bbhl.bbhlImg5Text3 != '')<p>· $!{bbhl.bbhlImg5Text3}</p>#end
					</div>
				</a>
			</div>
		</div>
	</section>
	<footer>
		<div class="footer-content1">
			<a class="return-top" title="返回顶部"></a>
			<table>
				<tr>
					<td class="bold" colspan="2">$!{home.storeName1}</td>
				</tr>
				<tr>
					<td align="right" width="40">Add：</td>
					<td>$!{home.addresss1}</td>
				</tr>
				<tr>
					<td align="right">Tel：</td>
					<td>$!{home.phone1}</td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="bold" colspan="2">$!{home.storeName2}</td>
				</tr>
				<tr>
					<td align="right">Add：</td>
					<td>$!{home.addresss2}</td>
				</tr>
				<tr>
					<td align="right">Tel：</td>
					<td>$!{home.phone2}</td>
				</tr>
			</table>
			<img src="${request.contextPath}/public/showPhoto?id=$!{home.twoBarCodes}&type=15" width="145" height="145" />
		</div>
	</footer>
</section>