<section id="main">
    <form id="bean-form">
        <input type="hidden" name="id" value="$!{yqkt.id}"/>
        <header>
            <span>孕期课堂</span>
            <div class="btn-bar">
                <button type="button" class="btn-primary" onclick="history.go(-1)">返回</button>
                <button id="formSubmit" type="button" class="btn-primary">保存</button>
            </div>
        </header>
        <div class="person">
            <a class="person-title"><font>课堂内容</font></a>
        </div>
        <table class="table-form">
            <tr>
                <td align="right">标题</td>
                <td colspan="4"><input type="text" name="title" class="input-form" style="width: 100%;"
                	datatype="*" nullmsg="请输入活动标题" value="$!{yqkt.title}"/></td>
            </tr>
            <tr>
                <td align="right">发布时间</td>
                <td><input type="text" class="input-form Wdate" onFocus="WdatePicker();" name="activeDt" style="width: 100%;"
                	datatype="*" nullmsg="请选择发布时间" value="$!date.format('yyyy-MM-dd',$!{yqkt.activeDt})" /> </td>
           		<td align="right">首页显示图</td>
                <td>
                	<img src="${request.contextPath}/home/showPhoto?id=$!{yqkt.firstImg}&type=41" width="240" height="140" id="aboutImg1-img"/>
                </td>
                <td>
                	<input type="hidden" name="firstImg" id="aboutImg1-input" value="$!{yqkt.firstImg}" />
                    <input type="file" id="aboutImg1" data-type="60" class="uploadImg" name="file" accept="image/*"/>
                </td>
            </tr>
        </table>
        <div class="info-table" style="width:980px;height:650px;">
        	<script id="editor" name="content" type="text/plain" style="width:980px;height:500px;">$!{yqkt.content}</script>
        </div>
    </form>
</section>