<section>
    <form id="bean-form" style="padding: 20px;">
        <input type="hidden" name="id" id="aboutId" value="$!{activeImg.id}"/>
        <table width="100%">
            <tr>
                <td>
                    <textarea name="nxsmhyText" datatype="*" nullmsg="请输入描述">$!{activeImg.nxsmhyText}</textarea>
                </td>
            </tr>
            <tr>
            	<td align="right" colspan="2">
	                <button id="formSubmit" type="button" class="btn-primary" style="margin-top: 10px;">保存信息</button>
            	</td>
            </tr>
        </table>
    </form>
</section>