<section id="page-box">
	<!-- header -->
	<header>
		<div class="header-content">
			<div class="logo"></div>
			<div class="header-text"></div>
			<div class="header-phone">
				<p>解放碑店：$!{home.phone1}</p>
				<p>沙坪坝店：$!{home.phone2}</p>
			</div>
		</div>
	</header>
	<!-- nav menu -->
	<nav>
		<div class="nav-content">
			<div class="nav-menu">
				<a class="nav-child" href="${request.contextPath}/public">首页</a>
				<a class="nav-child" href="${request.contextPath}/public/advantage">品牌介绍</a>
				<a class="nav-child has-child" href="#">
					门店信息
					<div class="menu-child">
						<span data-uri="/public/store/jfb">解放碑店</span>
						<span data-uri="/public/store/spb">沙坪坝店</span>
					</div>
				</a>
				<a class="nav-child has-child" href="#">
					母婴照护
					<div class="menu-child">
						<span data-uri="/public/myzh/yqkt">孕期课堂</span>
						<span data-uri="/public/myzh/yzqhl">月子期护理</span>
						<span data-uri="/public/myzh/crqxtzd">产褥期形体指导</span>
						<span data-uri="/public/myzh/yyss">营养膳食</span>
						<span data-uri="/public/myzh/bbhl">宝宝护理</span>
					</div>
				</a>
				<a class="nav-child has-child" href="#">
					产后修复
					<div class="menu-child">
						<span data-uri="/public/chxf/chtztl">产后体质调理</span>
						<span data-uri="/public/chxf/chtxcs">产后形体重塑</span>
						<span data-uri="/public/chxf/nxsmhy">女性私密维养</span>
						<span data-uri="/public/chxf/shtl">舒缓调理</span>
					</div>
				</a>
				<a class="nav-child" href="${request.contextPath}/public/active">精彩活动</a>
				<a class="nav-child" href="${request.contextPath}/public/about">联系我们</a>
				<a class="nav-child" href="${request.contextPath}/public/recruit">人才招聘</a>
			</div>
		</div>
		<div class="nav-secound"></div>
	</nav>
	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=$!{preference.qq1}&site=qq&menu=yes" class="qq" title="点此咨询">
		<img src="${request.contextPath}/resources/images/homepage/qq.png" width="221" height="317" />
	</a>
	<!-- 首页大图 -->
	<section class="main-img">
		<div class="main-img-wrapper">
			<img src="${request.contextPath}/public/showPhoto?id=$!{preference.bannerImg}&type=90" width="1920" height="600" />
		</div>
	</section>
	<!-- 解放碑店 -->
	<section class="preference">
		<div class="preference-content">
			<div class="pc-title">最 新 优 惠</div>
			<img src="${request.contextPath}/resources/images/homepage/preference-bg.png" class="bg" width="1436" height="1685" />
			<a href="http://wpa.qq.com/msgrd?v=3&uin=$!{preference.qq1}&site=qq&menu=yes" target="_blank" title="点此咨询">
				<img src="${request.contextPath}/public/showPhoto?id=$!{preference.img}&type=91" class="content" width="1200" height="1687" />
			</a>
		</div>
	</section>
	<footer>
		<div class="footer-content1">
			<a class="return-top" title="返回顶部"></a>
			<table>
				<tr>
					<td class="bold" colspan="2">$!{home.storeName1}</td>
				</tr>
				<tr>
					<td align="right" width="40">Add：</td>
					<td>$!{home.addresss1}</td>
				</tr>
				<tr>
					<td align="right">Tel：</td>
					<td>$!{home.phone1}</td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="bold" colspan="2">$!{home.storeName2}</td>
				</tr>
				<tr>
					<td align="right">Add：</td>
					<td>$!{home.addresss2}</td>
				</tr>
				<tr>
					<td align="right">Tel：</td>
					<td>$!{home.phone2}</td>
				</tr>
			</table>
			<img src="${request.contextPath}/public/showPhoto?id=$!{home.twoBarCodes}&type=15" width="145" height="145" />
		</div>
	</footer>
</section>