<section id="main">
    <form id="bean-form">
        <input type="hidden" name="id" id="crqxtzdId" value="$!{crqxtzd.id}"/>
        <header>
            <span>产褥期形体指导编辑</span>
            <div class="btn-bar">
                <button id="formSubmit" type="button" class="btn-primary">保存信息</button>
            </div>
        </header>
        <div class="person">
            <a class="person-title"><font>标题描述</font></a>
        </div>
        <table>
            <tr>
                <td>
                    <textarea name="mainText" datatype="*" nullmsg="请输入标题描述">$!{crqxtzd.mainText}</textarea>
                </td>
            </tr>
        </table>
        <div class="person">
            <a class="person-title"><font>图片信息</font></a>
        </div>
        <table>
            <tbody>
                <tr>
                	<!-- crqxtzd img 1 -->
                	<td width="154"><img src="${request.contextPath}/home/showPhoto?id=$!{crqxtzd.crqxtzdImg1}&type=33" 
                		width="114" height="114" id="myzhImg1-img"/></td>
                	<td width="200">
                		<input type="hidden" name="crqxtzdImg1" id="myzhImg1-input" value="$!{crqxtzd.crqxtzdImg1}" />
                    	<input type="file" id="myzhImg1" data-type="33" class="uploadImg" name="file" accept="image/*"/>
                	</td>
                	<td>
                		<input type="text" class="input-form big-input" value="$!{crqxtzd.crqxtzdTitle1}" 
                			placeholder="标题" datatype="*" nullmsg="请输入标题" name="crqxtzdTitle1"/>
                	</td>
                </tr>
                <tr>
                	<td colspan="3">
	                    <textarea name="crqxtzdText1" datatype="*" nullmsg="请输入描述" placeholder="描述">$!{crqxtzd.crqxtzdText1}</textarea>
	                </td>
                </tr>
                <tr>
                	<!-- crqxtzd img 2 -->
                	<td width="154"><img src="${request.contextPath}/home/showPhoto?id=$!{crqxtzd.crqxtzdImg2}&type=33" 
                		width="114" height="114" id="myzhImg2-img"/></td>
                	<td width="200">
                		<input type="hidden" name="crqxtzdImg2" id="myzhImg2-input" value="$!{crqxtzd.crqxtzdImg2}" />
                    	<input type="file" id="myzhImg2" data-type="33" class="uploadImg" name="file" accept="image/*"/>
                	</td>
                	<td>
                		<input type="text" class="input-form big-input" value="$!{crqxtzd.crqxtzdTitle2}" 
                			placeholder="标题" datatype="*" nullmsg="请输入标题" name="crqxtzdTitle2" />
                	</td>
                </tr>
                <tr>
                	<td colspan="3">
	                    <textarea name="crqxtzdText2" datatype="*" nullmsg="请输入描述" placeholder="描述">$!{crqxtzd.crqxtzdText2}</textarea>
	                </td>
                </tr>
                <tr>
                	<!-- crqxtzd img 3 -->
                	<td width="154"><img src="${request.contextPath}/home/showPhoto?id=$!{crqxtzd.crqxtzdImg3}&type=33" 
                		width="114" height="114" id="myzhImg3-img"/></td>
                	<td width="200">
                		<input type="hidden" name="crqxtzdImg3" id="myzhImg3-input" value="$!{crqxtzd.crqxtzdImg3}" />
                    	<input type="file" id="myzhImg3" data-type="33" class="uploadImg" name="file" accept="image/*"/>
                	</td>
                	<td>
                		<input type="text" class="input-form big-input" value="$!{crqxtzd.crqxtzdTitle3}" 
                			placeholder="标题" datatype="*" nullmsg="请输入标题" name="crqxtzdTitle3"/>
                	</td>
                </tr>
                <tr>
                	<td colspan="3">
	                    <textarea name="crqxtzdText3" datatype="*" nullmsg="请输入描述" placeholder="描述">$!{crqxtzd.crqxtzdText3}</textarea>
	                </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>