<section id="page-box">
	<!-- header -->
	<header>
		<div class="header-content">
			<div class="logo"></div>
			<div class="header-text"></div>
			<div class="header-phone">
				<p>解放碑店：$!{home.phone1}</p>
				<p>沙坪坝店：$!{home.phone2}</p>
			</div>
		</div>
	</header>
	<!-- nav menu -->
	<nav>
		<div class="nav-content">
			<div class="nav-menu">
				<a class="nav-child" href="${request.contextPath}/public">首页</a>
				<a class="nav-child" href="${request.contextPath}/public/advantage">品牌介绍</a>
				<a class="nav-child has-child" href="#">
					门店信息
					<div class="menu-child">
						<span data-uri="/public/store/jfb">解放碑店</span>
						<span data-uri="/public/store/spb">沙坪坝店</span>
					</div>
				</a>
				<a class="nav-child has-child" href="#">
					母婴照护
					<div class="menu-child">
						<span data-uri="/public/myzh/yqkt">孕期课堂</span>
						<span data-uri="/public/myzh/yzqhl">月子期护理</span>
						<span data-uri="/public/myzh/crqxtzd">产褥期形体指导</span>
						<span data-uri="/public/myzh/yyss">营养膳食</span>
						<span data-uri="/public/myzh/bbhl">宝宝护理</span>
					</div>
				</a>
				<a class="nav-child has-child" href="#">
					产后修复
					<div class="menu-child">
						<span data-uri="/public/chxf/chtztl">产后体质调理</span>
						<span data-uri="/public/chxf/chtxcs">产后形体重塑</span>
						<span data-uri="/public/chxf/nxsmhy">女性私密维养</span>
						<span data-uri="/public/chxf/shtl">舒缓调理</span>
					</div>
				</a>
				<a class="nav-child" href="${request.contextPath}/public/active">精彩活动</a>
				<a class="nav-child" href="${request.contextPath}/public/about">联系我们</a>
				<a class="nav-child" href="${request.contextPath}/public/recruit">人才招聘</a>
			</div>
		</div>
		<div class="nav-secound"></div>
	</nav>
	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=$!{preference.qq1}&site=qq&menu=yes" class="qq" title="点此咨询">
		<img src="${request.contextPath}/resources/images/homepage/qq.png" width="221" height="317" />
	</a>
	<!-- 首页大图 -->
	<section class="main-img">
		<div class="main-img-wrapper">
			<img src="${request.contextPath}/public/showPhoto?id=$!{yqktImg.bannerImg}&type=30" width="1920" height="600" />
		</div>
	</section>
	<section class="myzh">
		<div class="myzh-content">
			<div class="myzh-content-title">营 养 膳 食</div>
			<p>$!{yyss.mainText}</p>
			<div class="myzh-content-main">
				<div class="shutter">
					<div class="shutter-img">
						#if(!$yyss.slideImg1 != '')<a><img src="${request.contextPath}/public/showPhoto?id=$!{yyss.slideImg1}" alt="#"></a>#end
						#if($!yyss.slideImg2 != '')<a><img src="${request.contextPath}/public/showPhoto?id=$!{yyss.slideImg2}" alt="#"></a>#end
						#if($!yyss.slideImg3 != '')<a><img src="${request.contextPath}/public/showPhoto?id=$!{yyss.slideImg3}" alt="#"></a>#end
						#if($!yyss.slideImg4 != '')<a><img src="${request.contextPath}/public/showPhoto?id=$!{yyss.slideImg4}" alt="#"></a>#end
						#if($!yyss.slideImg5 != '')<a><img src="${request.contextPath}/public/showPhoto?id=$!{yyss.slideImg5}" alt="#"></a>#end
					</div>
					<ul class="shutter-btn">
						<li class="prev"></li>
						<li class="next"></li>
					</ul>
				</div>
				<div class="mcm-text">
					<div class="mcm-text-ico"><img src="${request.contextPath}/home/showPhoto?id=$!{yyss.yyssIcon}&type=34" 
                		width="72" height="96" id="myzhIcon-img" /></div>
					<div class="mcm-text-list">
						<div class="mcm-text-list-box">
							<div class="mcm-tlb-ico">$!{yyss.yyssTitle1}</div>
							<span>$!{yyss.yyssText1}</span>
						</div>
						<div class="mcm-text-list-box">
							<div class="mcm-tlb-ico">$!{yyss.yyssTitle2}</div>
							<span>$!{yyss.yyssText2}</span>
						</div>
						<div class="mcm-text-list-box">
							<div class="mcm-tlb-ico">$!{yyss.yyssTitle3}</div>
							<span>$!{yyss.yyssText3}</span>
						</div>
						<div class="mcm-text-list-box">
							<div class="mcm-tlb-ico">$!{yyss.yyssTitle4}</div>
							<span>$!{yyss.yyssText4}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="footer-content1">
			<a class="return-top" title="返回顶部"></a>
			<table>
				<tr>
					<td class="bold" colspan="2">$!{home.storeName1}</td>
				</tr>
				<tr>
					<td align="right" width="40">Add：</td>
					<td>$!{home.addresss1}</td>
				</tr>
				<tr>
					<td align="right">Tel：</td>
					<td>$!{home.phone1}</td>
				</tr>
			</table>
			<table>
				<tr>
					<td class="bold" colspan="2">$!{home.storeName2}</td>
				</tr>
				<tr>
					<td align="right">Add：</td>
					<td>$!{home.addresss2}</td>
				</tr>
				<tr>
					<td align="right">Tel：</td>
					<td>$!{home.phone2}</td>
				</tr>
			</table>
			<img src="${request.contextPath}/public/showPhoto?id=$!{home.twoBarCodes}&type=15" width="145" height="145" />
			<a class="police" href="http://www.beianbeian.com/beianxinxi/0ea0e56b068c60e14a1632e81a60ce57.html" target="_blank">渝ICP备15001537号-2</a>
			<a class="police police1" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50010702500334" target="_blank">
				<img src="${request.contextPath}/resources/images/icon-police.png" />渝公网安备50010702500334号</a>
		</div>
	</footer>
</section>