<section id="main">
    <form id="bean-form">
        <input type="hidden" name="id" id="advantageId" value="$!{advantage.id}"/>
        <header>
            <span>品牌介绍信息编辑</span>
            <div class="btn-bar">
                <button id="formSubmit" type="button" class="btn-primary">保存信息</button>
            </div>
        </header>
        <div class="person">
            <a class="person-title"><font>头部大图</font></a>
        </div>
        <table>
            <tr>
            	<!-- banner img 1 -->
                <td width="240">
                	<img src="${request.contextPath}/home/showPhoto?id=$!{advantage.bannerImg}&type=20" width="200" height="63" id="aboutImg1-img"/>
                </td>
                <td>
                    <input type="hidden" name="bannerImg" id="aboutImg1-input" value="$!{advantage.bannerImg}" />
                    <input type="file" id="aboutImg1" data-type="20" class="uploadImg" name="file" accept="image/*"/>
                </td>
            </tr>
        </table>
        <div class="person">
            <a class="person-title"><font>关于我们</font></a>
        </div>
        <table>
            <tbody>
                <tr>
                	<td width="80">门店描述</td>
                	<td>
                		<textarea name="aboutText">$!{advantage.aboutText}</textarea>
                	</td>
                </tr>
            </tbody>
        </table>
        <div class="person">
            <a class="person-title"><font>视频信息</font></a>
        </div>
        <table>
            <tr>
            	<!-- banner img 1 -->
                <td width="440">
                	<video src="${request.contextPath}/home/showPhoto?id=$!{advantage.video}" id="aboutVideo-video"
                		width="400" height="240" controls="controls">您的浏览器不支持 video 标签。</video>
                </td>
                <td>
                    <input type="hidden" name="video" id="aboutVideo-input" value="$!{advantage.video}" />
                    <input type="file" id="aboutVideo" data-type="100" class="uploadVideo" name="file" accept="video/*" />
                </td>
            </tr>
        </table>
    </form>
</section>